@use "sass:selector";
@use "../utils" as *;

.card {
  $self: &;

  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--color-text-white);

  &__body {
    padding: 30px 30px 50px;
  }

  &__topline {
    margin-bottom: 6px;
    text-align: center;
  }

  &__img {
    &--only--img {
      height: 100%;
      @media #{$xs} {
        width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    max-width: 585px;
    text-align: center;
  }

  &__slider {
    #{$self} {
      &__wrapper {
        padding: 30px 50px;
        background-color: var(--color-text-white);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 40%;
          left: 18px;
          width: 27px;
          aspect-ratio: 1;
          background: border-box var(--color-text-white)
            url("../../images/icons/arrow-left.svg") center/contain no-repeat;
        }

        &::after {
          content: "";
          position: absolute;
          top: 40%;
          right: 18px;
          width: 27px;
          aspect-ratio: 1;
          background: border-box var(--color-text-white)
            url("../../images/icons/arrow-right.svg") center/contain no-repeat;
        }
      }

      &__inner {
        padding-block: 92px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media #{$xs}, #{$sm}, #{$md} {
          padding-block: 40px;
        }
      }

      &__img {
        height: auto;
        margin-bottom: 10px;
      }

      &__username {
        margin-bottom: 5px;
        text-align: center;
        font-size: 20px;
        line-height: 120%;
        font-weight: 700;
      }

      &__profession {
        margin-bottom: 14px;
        text-align: center;
        font-size: 14px;
        line-height: 160%;
      }

      &__description {
        max-width: 336px;
      }
    }
  }
}
