@use "sass:selector";
@use "../utils" as *;

.food {
  $self: &;

  padding-top: 57px;
  padding-bottom: 15px;

  &__title {
    margin-bottom: 17px;
    text-align: center;
  }

  &__wrapper {
    padding: 15px;
  }

  &__card-row {
    overflow: hidden;
    display: flex;
    column-gap: 30px;

    @media #{$xs} ,#{$sm} ,#{$md}, #{$lg} {
      & {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
      }

      &:nth-of-type(3) {
        flex-direction: column-reverse;
      }
    }

    &-centered > * {
      flex: 1 1 0%;
      &:first-child .card__img {
        width: 100%;
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__card {
    @media #{$xs} {
      width: 100%;
    }

    @at-root #{selector.append(&, "--left--auto")} {
      margin-left: auto;
      @media #{$sm} {
        margin-left: 0;
        margin-inline: auto;
      }
    }

    @at-root #{selector.append(&, "--right--auto")} {
      margin-right: auto;
      @media #{$sm} {
        margin-right: 0;
        margin-inline: auto;
      }
    }
  }
}
